# Ignore compiled Java classes
*.class
target/

# Ignore IDE-specific files
.idea/
*.iml
*.log

# Ignore environment variables and secrets
.env

# Ignore Maven dependencies
.mvn/
*.jar

# Ignore OS-specific files
.DS_Store
Thumbs.db